#root{
  height: 100vh;
}

.wrapper{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.container {
  display: flex;
  flex-direction: column;
  gap: .25em;
  padding: 2em 0;
}

.heading{
  color: #fff;
  text-align: center;
  font-size: 2.5em;
  text-shadow: 5px 5px 0 #00000050;
}

.card{
  width: 100%;
  aspect-ratio: 16 / 9;
  background-image: url("/public/rectangle1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.card__body{
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
  max-width: 650px;
  height: 100%;
  padding: 0 2em;
}

.btn{
  border: 2px solid rgb(255 255 255 / 90%);
width: fit-content;
margin: 0 auto;
backdrop-filter: brightness(1.5) blur(5px) ;
}